[tool.poetry]
name = "quantum-random"
version = "0.1.0"
description = "Quantum random numbers"
authors = ["Seto Balian <seto.balian@gmail.com>"]
packages = [{include = "qrandom.py"}]


[tool.poetry.dependencies]
python = "^3.6"
requests = "^2.25.1"

[tool.poetry.dev-dependencies]
black = "^20.8b1"
isort = "^5.7.0"
flake8 = "^3.8.4"
pytest = "^6.2.1"
mypy = "^0.790"
pytest-mock = "^3.5.1"
requests-mock = "^1.8.0"
tox = "^3.21.1"
scipy = [
    {version = "1.5.*", python = "3.6.*"},
    {version = "^1.6.0", python = "^3.7"}
]


[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
