[tool.poetry]
name = "quantum-random"
version = "1.1.1"
description = "Quantum random numbers"
authors = ["Seto Balian <seto.balian@gmail.com>"]
packages = [{ include = "qrandom" }]
readme = "README.md"
license = "MIT"
repository = "https://github.com/sbalian/quantum-random"
maintainers = ["Seto Balian <seto.balian@gmail.com>"]
classifiers = [
    "Intended Audience :: Science/Research",
    "Intended Audience :: Developers",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Topic :: Software Development",
    "Topic :: Scientific/Engineering",
    "Typing :: Typed",
    "Operating System :: Microsoft :: Windows",
    "Operating System :: Unix",
    "Operating System :: MacOS",
    "License :: OSI Approved :: MIT License",
]

[tool.poetry.dependencies]
python = ">=3.7,<3.11"
requests = "^2.25.1"

numpy = { version = "^1.17", optional = true, python = ">=3.7,<3.10" }
randomgen = { version = "^1.21.2", optional = true, python = ">=3.7,<3.10" }

[tool.poetry.dev-dependencies]
isort = "^5.7.0"
flake8 = "^3.8.4"
pytest = "^6.2.1"
mypy = "^0.790"
pytest-mock = "^3.5.1"
requests-mock = "^1.8.0"
tox = "^3.21.1"
black = "^22.3.0"
matplotlib = "^3.5.1"
scipy = "<1.8"

[tool.poetry.extras]
numpy = ["numpy", "randomgen"]

[tool.isort]
line_length = 79
known_first_party = "qrandom"

[tool.black]
line-length = 79

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
