[build-system]
requires = ["setuptools", "setuptools-scm"]
build-backend = "setuptools.build_meta"

[project]
name = "quantum-random"
authors = [{ name = "Seto Balian", email = "seto.balian@gmail.com" }]
description = "Quantum random numbers"
keywords = ["quantum", "random", "statistics"]
readme = "README.md"
requires-python = ">=3.7"
license = {file = "LICENSE"}
dependencies = ["requests", "xdg"]
dynamic = ["version"]
maintainers = [{ name = "Seto Balian", email = "seto.balian@gmail.com" }]
classifiers = [
    "Intended Audience :: Science/Research",
    "Intended Audience :: Developers",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Topic :: Software Development",
    "Topic :: Scientific/Engineering",
    "Typing :: Typed",
    "Operating System :: Microsoft :: Windows",
    "Operating System :: Unix",
    "Operating System :: MacOS",
    "License :: OSI Approved :: MIT License",
]

[project.urls]
homepage = "https://github.com/sbalian/quantum-random"
repository = "https://github.com/sbalian/quantum-random.git"

[project.scripts]
qrandom-init = "qrandom._cli:init"

[tool.setuptools_scm]
version_scheme = "post-release"

[project.optional-dependencies]
numpy = ["numpy", "randomgen"]

[tool.black]
line-length = 79

[tool.isort]
profile = "black"
line_length = 79
known_first_party = ["qrandom"]

[tool.pytest.ini_options]
addopts = "--verbose"
testpaths = "tests"

[tool.mypy]
ignore_missing_imports = true
follow_imports = "silent"
check_untyped_defs = true
enable_error_code = ["ignore-without-code"]
show_error_codes = true
warn_unused_ignores = true
exclude = ["__pycache__", ".git", ".tox", "build"]
