name: Testing, type checking and linting

on: [push]

jobs:

  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ['3.8', '3.9', '3.10', '3.11', '3.12']
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Prepare
      run: |
        python -m pip install --upgrade pip
        pip install tox
    - name: Run tests
      run: |
        tox -e py

  test-numpy:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ['3.7', '3.8', '3.9', '3.10', '3.11']
        exclude:
          - os: macos-latest
            python-version: '3.11'
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Prepare
      run: |
        python -m pip install --upgrade pip
        pip install tox
    - name: Run tests
      run: |
        tox -e numpy
    - name: Check types
      run: |
        mkdir .mypy_cache
        tox -e mypy

  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'
    - name: Prepare
      run: |
        python -m pip install --upgrade pip
        pip install tox
    - name: Lint
      run: |
        tox -e flake8,black,isort
